page-home {

}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  //margin-top: 5em;
}

#add {
  border-bottom: 1px solid #D3D3D3;
}

#add:hover {
  background-color: #477BF2;
  color: #fff;
}
