<ion-header>
  <ion-navbar>
    <ion-title>Events</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <h1> Neats! </h1>
    <h2> Right Now! </h2>
    <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
      {{ item.text }}
    </button>
    <button id=add (click)="addnowSelected()" ion-button icon-right full clear>
      Add Event
      <ion-icon name="add-circle"></ion-icon>
    </button>
    <h2> Upcoming Events </h2>
    <button ion-item *ngFor="let event of events" (click)="eventSelected(event)">
      {{ event.text }}
    </button>
    <button id=add (click)="addeventSelected()" ion-button icon-right full clear>
      Add Event
      <ion-icon name="add-circle"></ion-icon>
    </button>
  </ion-list>
</ion-content>
